@charset "utf-8";
body{
height :800px;
width :1280px;
background-image:url(bg.jpg);
background-repeat: no-repeat;
}
div#result{
position :absolute;
top:90px;
font-size :70px;
height :110px;
width :1280px;
color :white;
}
div#schedule{
position :absolute;
top:230px;
color:black;
font-size :40px;
padding :5 0 0 10;
height :400px;
width :1280px;
}
div#nowplaying{
position :absolute;
top:650px;
color:black;
font-size :30px;
height :60px;
width :600px;
}
div#clock{
position :absolute;
top: 650px;
font-size :60px;
margin-left :800px;
height :60px;
width :127px;
color :black;
text-align: center;
}
